.main-text {
    display: grid;
    width: 70%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-left: 13%;
}

.trending-header {
    text-align: center;
    font-size: 2.0rem;
    color: rgb(224, 219, 211);
    justify-content: center;
    text-decoration: none;
}