.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: left;
    width: 75%;
    text-align: justify;
    justify-content: left;
}

.about-grid>img {
    align-items: right;
    justify-content: right;
    margin-right: 20px;
    margin-left: 20px;
}