.athiest-wrapper {
    display: grid;
    width: 70%;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-left: 13%;
}

.trending-header {
    font-family: "DiskusDMed", sans-serif;
    font-size: 2.0rem;
    color: rgb(238, 238, 230);
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 75px;
    margin-right: 75px;
    align-items: center;
}