.daily-header {
    margin-left: 150px;
    margin-right: 150px;
    color: beige;

}

.verse_tag {
    font-family: "DiskusDMed", sans-serif;
    font-size: 1.5rem;
    color: rgb(218, 218, 100);
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: underline;
}