h1 {
    font-family: "DiskusDMed", sans-serif;
    font-size: 2.5rem;
    color: rgb(134, 134, 9);
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: "DiskusDMed", sans-serif;
    font-size: 2.0rem;
    color: rgb(238, 238, 230);
    text-align: justify;
    justify-content: center;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 75px;
    margin-right: 75px;
    align-items: center;
}


h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(134, 134, 9);
    align-items: center;
    text-align: center;
    font-size: 1.0em;
    justify-content: center;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: 0px;
}


hr {
    align-items: center;
    align-content: center;
}

h4 {
    font-family: "DiskusDMed", sans-serif;
    font-size: 2.0rem;
    color: rgb(218, 218, 100);
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    text-decoration: none;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0rem;
    color: cyan;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
    align-items: center;
    text-align: center;
}

h7 {
    font-size: .75rem;
    text-align: center;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    margin-top: 25px;
    justify-content: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.0 rem;
    color: cyan;
    justify-content: center;
    text-align: justify;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 0px;
    margin-bottom: 30px;
}