.main-body-heading>.main-opening-heading>.opening-heading-text {
    font-family: "DiskusDMed", sans-serif;

}

h6 {
    font-size: 1.0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}